* {
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    cursor: pointer;
}

body,
html {
    font-size: 1rem;
    background-size: cover;
}

body {
    font: 300 13px/1.6 'Lato';
    color: #444;
    transition: all .4s .3s ease-in;
}

body,
html {
    min-height: 100vh;
    hr {
        border: none;
        border-top: thin solid #da928c;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

svg,
img {
    max-width: 100%;
}

svg#logo {
    width: 100px;
}